@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400..900&family=Rubik+Mono+One&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Arsenal', 'Roboto';
}

.hero {
	width: 100%;
	height: 100vh;
	background: linear-gradient(90deg, rgba(13, 44, 56, 0.8) 0%, rgba(69, 202, 255, 0.3) 100%),
		url(./images/football-player.jpg);

	.boots {
		overflow: hidden;

		h1 {
			transition: 0.7s ease-out;
			color: #fff;
			text-align: center;
			font-size: 2rem;
		}

		img {
			transition: 0.5s ease-in-out all;
			filter: drop-shadow(0.25rem 0.25rem 0.5rem #222);
		}
		img:hover {
			transform: translateY(-1rem);
			transform: rotateZ(4deg);
			filter: drop-shadow(0.25rem 0.25rem 0.5rem rgba(216, 216, 216, 0.5));
		}
	}

	.logo {
		transition: 0.5s;
		margin-top: 1rem;

		left: 50%;
		top: 0;
	}
}

.container {
	margin: 0 auto;
	max-width: 1440px;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.hidden {
	visibility: hidden;
}
.opacity-0 {
	opacity: 0;
}

.chevron {
	width: 5rem;
	height: 5rem;
	background-color: aqua;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.35s;

	&:hover {
		background-color: tomato;
	}
}

.left {
	left: 1rem;
	top: 50%;
}

.right {
	right: 1rem;
	top: 50%;
}
